<%- include("templates/header", {name: name, navLinks: navLinks}); %>



    <div class="container mt-5">
        <h1>Admin Panel</h1>
        <div class="row">
            <% users.forEach(user=> { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= user.name %>
                            </h5>
                            <p class="card-text">
                                <strong>Email:</strong>
                                <%= user.email %><br>
                                    <strong>Type:</strong>
                                    <%= user.type %>
                            </p>
                            <div>
                                <% if (user.type==='admin' ) { %>
                                    <form action="/demote/<%= user._id %>" method="post">
                                        <button class="btn btn-danger btn-sm">Demote to User</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/promote/<%= user._id %>" method="post">
                                            <button class="btn btn-success btn-sm">Promote to Admin</button>
                                        </form>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>


    <%- include("templates/footer"); %>